//====================================================================================================
.header {
	color: $white;
	background-color: $dark-green;

	&.fixed {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 10;
	}

	&__body {
	}

	&__container {
		display: flex;
		flex-direction: column;
		border: 1px solid #004d56;
		border-top: none;
		@media (max-width: $md1) {
			padding: 0;
		}
	}

	&__content {
		display: flex;
		width: 100%;
		border-bottom: 1px solid #004d56;
		@media (max-width: $md4) {
			gap: 20px;
			padding: 20px;
			align-items: center;
		}
		@media (max-width: 380px) {
			padding: 15px 10px;
			gap: 10px;
		}
	}

	&__logo {
		display: inline-block;
		padding: 25px 40px;
		border-right: 1px solid #004d56;
		display: flex;
		align-items: center;
		justify-content: center;
		.icon {
			@include adaptiv-value('width', 125, 80, 1);
			@include adaptiv-value('height', 45, 35, 1);
			fill: #fff;
		}
		@media (max-width: $md1) {
			padding: 10px 20px;
		}
		@media (max-width: $md4) {
			border-right: none;
			padding: 0;
		}
	}

	&__operating-mode {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		border-right: 1px solid #004d56;
		padding: 10px 35px;
		b {
			font-weight: 700;
			font-size: 24px;
		}

		span {
			font-weight: 400;
			font-size: 12px;
			line-height: 130%;
			max-width: 100px;
		}
		@media (max-width: $md1) {
			padding: 10px 20px;
		}
		@media (max-width: $md3) {
			display: none;
		}
		@media (max-width: $md5) {
			display: flex;
			border-right: none;
			padding: 0;
			justify-content: stretch;
			margin-bottom: 30px;
		}
	}

	&__contacts {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 10px 40px;
		border-right: 1px solid #004d56;
		column-gap: 25px;
		> div {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			row-gap: 5px;
		}
		> button {
			padding: 10px 25px;
			font-size: 14px;
			width: auto;
			color: #fff;
			border-color: #fff;
		}
		address {
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			text-align: right;
			display: flex;
			justify-content: flex-end;
			flex-wrap: wrap;
			gap: 20px;
			@media (max-width: $md2) {
				gap: 5px;
			}
		}

		@media (max-width: $md1) {
			padding: 10px 20px;
		}
		@media (max-width: $md2) {
			> button {
				display: none;
			}
		}
		@media (max-width: $md4) {
			padding: 0;
			border-right: none;
			justify-content: center;
			address {
				display: none;
			}
		}
		@media (max-width: $md5) {
			align-items: center;
		}
	}

	&__phone {
		font-weight: 700;
		@include adaptiv-font(24, 14, 1);
		color: $white;
		transition: 0.3s;
		&:hover {
			color: $orange;
		}
	}

	&__account {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 5px;
		color: $white;
		padding: 10px 30px;
		transition: 0.2s;

		&._exit {
			i {
				&::before {
					display: none;
				}
			}
		}

		i {
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				border: 1px solid #fff;
				border-radius: 50%;
				width: 8px;
				height: 8px;
				background-color: $orange;
				transform: translate(-25%, -50%);
			}
		}

		.icon {
			width: 25px;
			height: 25px;
			fill: $orange;
		}

		span {
			font-weight: 400;
			font-size: 14px;
			text-align: center;
		}

		&:hover {
			color: $orange;
		}

		@media (max-width: $md1) {
			padding: 10px 20px;
		}
		@media (max-width: $md4) {
			padding: 0;
			span {
				display: none;
			}
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		padding: 20px 40px;
		@media (max-width: $md1) {
			padding: 10px 20px;
		}
		@media (max-width: $md3) {
			color: $black;
			flex-direction: column;
			align-items: flex-start;
			row-gap: 100px;
			position: fixed;
			z-index: 10;
			right: 0;
			top: 0;
			height: 100vh;
			width: 82%;
			overflow-y: auto;
			background-color: $white;
			padding: 90px 20px;
			opacity: 0;
			transform: translate(100%, 0);
			transition: all 0.2s linear;
			&._active {
				opacity: 1;
				transform: translate(0, 0);
			}
		}

		&_block {
			display: none;
			flex-direction: column;
			row-gap: 5px;

			@media (max-width: $md3) {
				display: flex;
			}

			.header__phone {
				font-weight: 700;
				font-size: 26px;
				color: $black;
			}
			address {
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				display: flex;
				flex-direction: column-reverse;
				gap: 20px;
				@media (max-width: $md2) {
					gap: 5px;
				}
			}
		}

		&_btn-call {
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $dark-green;
			padding: 10px;
			color: $white;
		}
	}

	&__ul {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		flex: 1 1 auto;
		gap: 40px;
		@media (max-width: $md1) {
			@include adaptiv-value-to('gap', 40, 10, 768);
		}
		@media (max-width: $md3) {
			position: relative;
			z-index: 10;
			flex-direction: column;
			align-items: flex-start;
			gap: 20px;
		}
	}

	&__li {
		position: relative;

		@media (min-width: $md3) {
			&:hover {
				.icon {
					transform: rotate(0) !important;
				}
				.dropdown {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		.dropdown {
			padding-top: 20px;
			position: absolute;
			z-index: 2;
			top: 100%;
			left: 0;
			min-width: 100%;
			opacity: 0;
			visibility: hidden;
			transition: 0.2s ease-in-out;

			@media (max-width: $md1) {
				padding-top: 10px;
			}

			@media (max-width: $md3) {
				position: relative;
				left: auto;
				top: auto;
				max-height: 0;
				overflow: hidden;
				will-change: max-height;
				opacity: 1;
				visibility: visible;
				padding-top: 0;
				&._dropdown-active {
					margin-top: 10px;
				}
			}

			&__list {
				background-color: $green;
				padding: 0 15px;
				width: 100%;
				display: flex;
				flex-direction: column;
				@media (max-width: $md1) {
					padding: 0 10px;
				}
			}

			&__li {
				border-bottom: 1px solid #46939c;
				&:last-child {
					border-bottom: none;
				}
			}

			&__link {
				padding: 15px 5px;
				white-space: nowrap;
				font-weight: 400;
				font-size: 14px;
				color: $white;
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 10px;
				transition: color 0.2s linear;

				.icon {
					fill: transparent;
					stroke: $white;
					width: 20px;
					height: 20px;
				}

				&:hover {
					color: $orange;
				}
			}
		}
	}

	&__link {
		font-weight: 400;
		font-size: 14px;
		color: $white;

		&.dropdown-btn {
			display: flex;
			align-items: center;
			gap: 5px;
			.icon {
				flex-shrink: 0;
				fill: none;
				stroke: $white;
				width: 15px;
				height: 15px;
				transform: rotate(90deg);
				transition: transform 0.2s linear;
			}
			&._dropdown-btn-active {
				.icon {
					transform: rotate(0);
				}
			}
			@media (max-width: $md3) {
				gap: 15px;
				.icon {
					stroke: $black;
					width: 25px;
					height: 25px;
				}
			}
		}

		@media (max-width: $md3) {
			font-weight: 600;
			font-size: 24px;
			color: $black;
		}
		@media (max-width: 380px) {
			font-size: 20px;
		}
	}
}

//====================================================================================================
.header-wrapper-burger {
	display: none;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-left: 1px solid $green;
	@media (max-width: $md3) {
		display: flex;
	}
	@media (max-width: $md4) {
		padding: 0;
		border: none;
	}
}

.header-burger {
	flex-shrink: 0;
	display: none;
	position: relative;
	width: 25px;
	height: 20px;
	cursor: pointer;
	z-index: 11;

	span {
		position: absolute;
		transition: all 0.2s ease 0s;
		width: 100%;
		height: 2px;
		left: 0;
		background-color: $white;

		&:nth-child(1) {
			top: 0px;
		}
		&:nth-child(2) {
			top: 50%;
			transform: translate(0, -50%);
		}
		&:nth-child(3) {
			bottom: 0;
		}
	}

	&._active {
		span {
			background-color: $black;
			transform: scale(0);

			&:first-child {
				top: 50%;
				transform: translate(0, -50%) rotate(-45deg);
			}

			&:last-child {
				bottom: 50%;
				transform: translate(0, 50%) rotate(45deg);
			}
		}
	}
	@media (max-width: $md3) {
		display: block;
	}
	@media (max-width: $md4) {
		margin: 0;
	}
}
