$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1200;
$md1: ($maxWidthContainer + 15) + px;
$md2: 992.98px;
$md3: 768.98px;
$md4: 576.98px;
$md5: 478.98px;

$color-main: #2d3a3d;
$background-color: #ffffff;
$font-size: 16px;
$fontFamily: 'Montserrat', sans-serif;
$second-family: 'Jost', sans-serif;

$white: #fff;
$black: #2d3a3d;
$green: #004d56;
$dark-green: #003537;
$orange: #f59100;
