<footer class="footer">
	<div class="footer__container _container">
		<div class="footer__body">
			<div class="footer__content">
				<div class="footer__block">
					<a href="tel:+74951651565" class="footer__phone">+7 (495) 165-15-65</a>
					<button class="footer__button button-2 btn-open-modal-feedback-form"><span>Заказать звонок</span></button>
				</div>
				<div class="footer__block data-da">
					<a href="mailto:info@mesto-store.ru" class="footer__mail">info@mesto-store.ru</a>
					<span>Клиентская служба</span>
				</div>
				<div class="footer__block">
					<div class="footer__messengers" data-da=".footer__block.data-da,992,last">
						<a href="https://vk.com/mesto_kladovki" class="footer__messenger" target="_blank">
							<svg class='icon icon-vk'>
								<use xlink:href='@@pathimg/svg/sprite.svg#vk'></use>
							</svg>
						</a>
						<a href="https://wa.me/79690190864" class="footer__messenger" target="_blank">
							<svg class='icon icon-whatsapp'>
								<use xlink:href='@@pathimg/svg/sprite.svg#whatsapp'></use>
							</svg>
						</a>
						<a href="https://t.me/MestoKladovki" class="footer__messenger" target="_blank">
							<svg class='icon icon-telegram'>
								<use xlink:href='@@pathimg/svg/sprite.svg#telegram'></use>
							</svg>
						</a>
					</div>
					<span data-da=".footer__block.data-da,992,last">Мы в соцсетях</span>
				</div>
				<div class="footer__block">
					<address class="footer__address">
						<svg class='icon icon-placemark'>
							<use xlink:href='@@pathimg/svg/sprite.svg#placemark'></use>
						</svg>
						<span>Борисовские пруды 22 к4, с1</span>
					</address>
				</div>
				<div class="footer__block info-u">
					<span>ИП Брысина Е.А.</span>
					<p>
						<span>ИНН 771921821260</span>
						<span>ОГРН 321774600399092</span>
					</p>
				</div>
			</div>
			<div class="footer__bottom">
				<p>Обращаем ваше внимание на то, что данный Интернет-сайт носит исключительно информационный характер и ни при
					каких
					условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской
					Федерации.
					Для получения подробной информации о стоимости аренды боксов, сопутствующих товаров, транспортных услугах и
					страховании,
					обращайтесь к менеджерам по продажам. Права на сайт принадлежат ИП Брысина Е.А. (ИНН 771921821260, ОГРН
					321774600399092) тел. +7 (495) 165-15-65, адрес эл. почты info@mesto-store.ru</p>
				<p>© Все права защищены ИП Брысина Е.А.</p>
			</div>
		</div>
	</div>
</footer>