<header class="header @@fixed">
	<div class="header__body">
		<div class="header__container _container">
			<div class="header__content">
				<a href="/" class="header__logo">
					<svg class='icon icon-logo'>
						<use xlink:href='@@pathimg/svg/sprite.svg#logo'></use>
					</svg>
				</a>
				<div class="header__operating-mode" data-da=".header__nav_block,576,first">
					<b>24/7</b>
					<span>Доступ к вашей кладовке круглосуточный</span>
				</div>
				<div class="header__contacts">
					<div class="">
						<a href="tel:+74951651565" class="header__phone">+7 (495) 165-15-65</a>
						<address data-da=".header__nav_block,576,last">
							<span>Борисовские пруды 22 к4, с1</span>
						</address>
					</div>
					<button class="button-3 btn-open-modal-feedback-form"><span>Заказать звонок</span></button>
				</div>
				<a href="authorization.html" class="header__account account-link-header link-update">
					<i>
						<svg class='icon icon-account'>
							<use xlink:href='@@pathimg/svg/sprite.svg#account'></use>
						</svg>
					</i>
					<span>Личный кабинет</span>
				</a>
				<div class="header-wrapper-burger">
					<div class="header-burger">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
			<nav class="header__nav">
				<ul class="header__ul">
					<li class="header__li"><a href="calculator.html" class="header__link hover-link link-update">Калькулятор</a>
					</li>
					<li class="header__li"><a href="services.html" class="header__link hover-link link-update">Услуги
							хранения</a>
					</li>
					<li class="header__li"><a href="how-use-storage.html" class="header__link hover-link link-update">Как
							пользоваться
							кладовкой</a></li>
					<li class="header__li"><a href="faq.html" class="header__link hover-link link-update">Вопрос-ответ</a></li>
					<li class="header__li"><a href="about.html" class="header__link hover-link link-update">О нас</a></li>
				</ul>
				<div class="header__nav_block">
					<a href="tel:+74951651565" class="header__phone">+7 (495) 165-15-65</a>
					<button class="header__nav_btn-call btn-open-modal-feedback-form"><span>Заказать обратный
							звонок</span></button>
				</div>
			</nav>
		</div>
	</div>
</header>