<div class="modal modal-checking-details-form">
  <div class="modal__content">
    <div class="modal__body">
      <div class="modal__close btn-modal-close">
        <span></span>
        <span></span>
      </div>
      <div class="modal-checking-details-form__content">
        <!-- <h4 class="modal-checking-details-form__title modal__title">Шаг 2</h4> -->
        <div class="modal-checking-details-form__inner">
          <div class="modal-checking-details-form__block-text content">
            <b>Проверка и подтверждение выписки счета</b>
            <span>Организация ООО "XXXX</span>
            <span>"ИНН XXXXXXXXX</span>
            <span>КПП XXXXXXXXX</span>
            <span>Сумма XXXX ₽</span>
            <span>Email name@name.ru</span>
            <!-- <span>Ф.И.О. Топоров А.А.</span> -->
            <span>Адрес 111111 г. Москва, ул. Xxxxxxx, д. xx</span>
          </div>
          <button
            class="modal-checking-details-form__button button button-send-form-payment-invoice btn-modal-close"><span>Получить
              счет</span></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-checking-info-form">
  <div class="modal__content">
    <div class="modal__body">
      <div class="modal__close btn-modal-close">
        <span></span>
        <span></span>
      </div>
      <div class="modal-checking-details-form__content">
        <h4 class="modal-checking-details-form__title modal__title">Шаг 2</h4>
        <div class="modal-checking-details-form__inner">
          <div class="modal-checking-details-form__block-text content" style="align-items: center; text-align: center;">
            <b style="text-align: center;">Счет 000000 сформирован и отправлен вам на почту name@name.ru</b>
          </div>
          <button class="modal-checking-details-form__button button btn-modal-close btn-download-invoice">
            <span>Скачать</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>